*{
    margin: 0%;
    padding: 0%;
}

body{
    background: url(fondo1.jpg);
}

.uno{
    color: red;
    text-align: center;
    font-size: 90px;
    font-family:'New Tegomin', serif;
}
.container { 
  
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.container .card{
    cursor: pointer;
    height: auto;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
.container .card img{
    width: 330x;
    height: 330px;

}
.container .card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 600;
}


h4{

    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}
.boton{
    height: 60px;
    float: right;
    position: absolute;
    right: 12px;
    bottom: 7px;
    border-radius: 26px;
}
.boton1{
    font-size: 22px;
    color: white;
    position: absolute;
    right: 80px;
    bottom: 12px;
}
