*{
    margin: 0%;
    padding: 0%;
}
body{
   background: url(fondo.jpg);
}
.titulo{
    color: white;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}
.video{
    text-align: left;
}
.imagen{
    height: 550px;
    width: 365px;
    position: absolute;
    right: 22px;
   top: 45px;
   border-radius: 22px;

}
 .center{
font-family: 'Architects Daughter', cursive;
font-family: 'Dancing Script', cursive;
font-size: 22px;
color: black;
position: absolute;
right: 150px;
top: 45px;
}
.parrafo{
    color:black;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    position: absolute;
    left: 990px;
    top: 70px;
}
